# IDE & System
.idea
.vscode/
.DS_Store
.agent

# Secrets & Config
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.db-journal
*.db-wal
*.db-shm
backend/data/


# Temporary / Large Text Files
*.txt