version: '3.8'

services:
  web:
    build: .
    restart: unless-stopped
    expose:
      - "5000"
    env_file:
      - .env
    environment:
      - FLASK_ENV=${FLASK_ENV}
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - LETSENCRYPT_HOST=${LETSENCRYPT_HOST}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - SSO_LOGIN_URL=${SSO_LOGIN_URL}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - JWT_ALGORITHM=${JWT_ALGORITHM}
    # Ports for local testing
    ports:
      - "5002:5000"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
