version: '3.8'

services:
  backend:
    build:
      context: ./backend
    restart: unless-stopped
    expose:
      - "5000"
    env_file:
      - .env
    environment:
      - FLASK_ENV=${FLASK_ENV}
      - SSO_LOGIN_URL=${SSO_LOGIN_URL}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - JWT_ALGORITHM=${JWT_ALGORITHM}
      - FORCE_HTTPS=${FORCE_HTTPS}
      - PYTHONUNBUFFERED=1
      - WINNING_SCORE=${WINNING_SCORE}
    volumes:
      - ./backend:/app
      - db-data:/app/data # Persistent volume for database
      - ./frontend/sounds:/app/sounds_scan:ro # Mount sounds for listing
    command: gunicorn --worker-class eventlet -w 1 --reload app:app --bind 0.0.0.0:5000
    networks:
      - default

  frontend:
    build:
      context: ./frontend
    restart: unless-stopped
    ports:
      - "5002:80"
    depends_on:
      - backend
    environment:
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - LETSENCRYPT_HOST=${LETSENCRYPT_HOST}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - WINNING_SCORE=${WINNING_SCORE}
    volumes:
      - ./frontend:/usr/share/nginx/html
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - default
      - web-proxy

networks:
  default:
    name: ingals-network
  web-proxy:
    external: true

volumes:
  db-data: # Named volume for persistent database storage
